#container{
    margin: 0 auto;
    padding: 50px;
}
h1{
    color: #eee;
    text-shadow: 2px 2px 2px rgb(243, 179, 59);
}
#banner{
    width: 96%;
}
ul li{   
    float: left;
    list-style-type: none;
    padding-right: 5%;
    margin: 1%;
    padding-left: 5%;
    background-color: rgb(29, 100, 233);
}
ul li a{
    text-decoration: none;
    color: white;
}